Importing data

In [1]:
import pandas as pd
import numpy as np

#Load dataset
df = pd.read_csv('../Data/ks-projects-201801.csv')

Exploring basic information

In [2]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [3]:
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378661.00,378661.00,378661.00,374864.00,378661.00,378661.00
mean,1074731191.99,49080.79,9682.98,105.62,7036.73,9058.92,45454.40
std,619086204.32,1183391.26,95636.01,907.19,78639.75,90973.34,1152950.06
min,5971.00,0.01,0.00,0.00,0.00,0.00,0.01
25%,538263516.00,2000.00,30.00,2.00,16.98,31.00,2000.00
50%,1075275634.00,5200.00,620.00,12.00,394.72,624.33,5500.00
75%,1610148624.00,16000.00,4076.00,56.00,3034.09,4050.00,15500.00
max,2147476221.00,100000000.00,20338986.27,219382.00,20338986.27,20338986.27,166361390.71

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [5]:
# Count the number of missing values in each column
df.isnull().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

It looks like name has a few values missing and usd_pledged have many values missing. What is the difference between usd_pledged and usd_real? I don't think 4 missing name values matter either way since we have the ids for each record so I will ignore name for now.

In [6]:
df[df['usd pledged'].isnull()].head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
169,1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.00,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",NaN,555.00,6500.00
328,100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.00,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",NaN,3402.08,3211.53
632,1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.00,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",NaN,3576.00,3500.00
647,1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.00,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",NaN,7007.80,6000.00
749,1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.00,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",NaN,3660.38,3000.00

In [7]:
df[['usd pledged', 'usd_pledged_real']]

        usd pledged  usd_pledged_real
0              0.00              0.00
1            100.00           2421.00
2            220.00            220.00
3              1.00              1.00
4           1283.00           1283.00
...             ...               ...
378656        25.00             25.00
378657       155.00            155.00
378658        20.00             20.00
378659       200.00            200.00
378660       524.00            524.00

[378661 rows x 2 columns]

In [8]:
(df['usd pledged'] == df['usd_pledged_real']).sum()

np.int64(262631)

Since we have so much missing data from 'us pledged' field and most existing data in that column matches the data in usd_pledge_real, I'll drop the 'us pledged' column.

In [9]:
#Drop 'usd pledged' column
df.drop('usd pledged', axis=1, inplace=True)

In [10]:
# Checking for any duplicate rows
df.duplicated().sum()

np.int64(0)

In [11]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,19500.00

In [12]:
df.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

It looks like deadline and launched should be datetime data types. I'll convert them.

In [13]:
# Convert 'deadline' and 'launched' to datetime objects
df['deadline'] = pd.to_datetime(df['deadline'])
df['launched'] = pd.to_datetime(df['launched'])

In [14]:
df.dtypes

ID                           int64
name                        object
category                    object
main_category               object
currency                    object
deadline            datetime64[ns]
goal                       float64
launched            datetime64[ns]
pledged                    float64
state                       object
backers                      int64
country                     object
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

Let's examine the state column

In [15]:
# Checking unique values and their counts in the 'state' column

df['state'].value_counts()

state
failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: count, dtype: int64

I'm interested in looking at successful vs failed projects so I'll remove the other states

In [16]:
df = df[df['state'].isin(['successful', 'failed', 'canceled', 'undefined', 'suspended'])]

In [17]:
# Confirming that the other columns have been removed.

df['state'].value_counts()

state
failed        197719
successful    133956
canceled       38779
undefined       3562
suspended       1846
Name: count, dtype: int64

Let's take a look at the country column next.

In [18]:
# Get the unique values and their counts in the 'country' column
df['country'].value_counts()

country
US      290887
GB       33393
CA       14624
AU        7769
DE        4096
N,0"      3796
FR        2887
NL        2833
IT        2802
ES        2224
SE        1737
MX        1645
NZ        1436
DK        1097
IE         800
CH         747
NO         700
BE         605
HK         583
AT         582
SG         527
LU          61
JP          31
Name: count, dtype: int64

It looks like there are some countries marked as "N,O'". I'll remove such rows since it's a small percentage of the totals.

In [19]:
df = df[df['country'] != 'N,0"']

In [20]:
df['country'].value_counts()

country
US    290887
GB     33393
CA     14624
AU      7769
DE      4096
FR      2887
NL      2833
IT      2802
ES      2224
SE      1737
MX      1645
NZ      1436
DK      1097
IE       800
CH       747
NO       700
BE       605
HK       583
AT       582
SG       527
LU        61
JP        31
Name: count, dtype: int64

In [21]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,19500.00

It would be helpful to get the duration of each project's campaign.

In [22]:
# Calculate the duration of the campaign in days
df['duration'] = (df['deadline'] - df['launched']).dt.days

In [23]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real,duration
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,1533.95,58
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,2421.00,30000.00,59
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,45000.00,44
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,5000.00,29
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,19500.00,55

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 372066 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                372066 non-null  int64
 1   name              372062 non-null  object
 2   category          372066 non-null  object
 3   main_category     372066 non-null  object
 4   currency          372066 non-null  object
 5   deadline          372066 non-null  datetime64[ns]
 6   goal              372066 non-null  float64
 7   launched          372066 non-null  datetime64[ns]
 8   pledged           372066 non-null  float64
 9   state             372066 non-null  object
 10  backers           372066 non-null  int64
 11  country           372066 non-null  object
 12  usd_pledged_real  372066 non-null  float64
 13  usd_goal_real     372066 non-null  float64
 14  duration          372066 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(6)
memory usage: 45.4+ MB

In [25]:
df.describe()

,ID,deadline,goal,launched,pledged,backers,usd_pledged_real,usd_goal_real,duration
count,372066.00,372066,372066.00,372066,372066.00,372066.00,372066.00,372066.00,372066.00
mean,1074578668.74,2014-10-21 06:51:02.824337664,49318.12,2014-09-17 09:26:29.120699136,9755.41,106.98,9145.24,45737.70,33.46
min,5971.00,2009-05-03 00:00:00,0.01,1970-01-01 01:00:00,0.00,0.00,0.00,0.01,0.00
25%,537812173.50,2013-05-27 00:00:00,2000.00,2013-04-24 20:17:19.249999872,31.00,2.00,31.24,2000.00,29.00
50%,1075289160.00,2014-12-29 12:00:00,5500.00,2014-11-24 20:57:06.500000,625.00,12.00,627.59,5500.00,29.00
75%,1610134613.75,2016-04-19 00:00:00,16500.00,2016-03-16 05:15:19.500000,4092.97,57.00,4066.00,16000.00,36.00
max,2147476221.00,2018-02-24 00:00:00,100000000.00,2018-01-02 03:05:10,20338986.27,219382.00,20338986.27,166361390.71,16738.00
std,619186053.39,NaN,1182567.51,NaN,96265.15,914.52,91620.97,1151682.10,66.47